# .env.example

# Supabase Configuration
VITE_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Google Auth Configuration
VITE_GOOGLE_CLIENT_ID=1018914242387-se9c8drqjoc5ujk9qvfujog1cb5pe7np.apps.googleusercontent.com
